@page
@model WebAssForUna.Pages.ErrorModel
@{
	ViewData["Title"] = "Error";
}

<div class="header">
	<h2>LetLove="True"</h2>
</div>
<div class="container">
	<h3>
		Unexpected Error Occured
		Please Click Here to return to the Form!
	</h3>
	<form method="get" action="form">
		<button type="submit" class="btn">Return To Form</button>
	</form>
</div>

