@page
@model IndexModel
@{
	ViewData["Title"] = "Index";
}
<div class="header">
	<h2>LetLove="True"</h2>
</div>
<div class="container">
	<h3>
		Welcome to Let Love!
	</h3>
	<h3>
		Please Click Here To Sign Up
	</h3>
	<form method="get" action="form">
		<button type="submit" class="btn">Sign Up</button>
	</form>
</div>