@page
@model WebAssForUna.Pages.ThankyouModel
@{
	ViewData["Title"] = "Thankyou";
}

<div class="header">
	<h2>LetLove="True"</h2>
</div>
<div class="container2">
	<h2>Your Data has been submitted!</h2>
	<h2>Thank you For Using Let-Love="True".com</h2>
</div>
